Tag 03/Tag 3 · Extra – Tagesschau-RSS als Info-Mail (08:00).json
{
  "name": "Tag 3 · Extra: Tagesschau-RSS als Info-Mail (08:00)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "477a1334-6c7b-4cd7-b9d8-5c997de374b2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "id": "08149688-55e6-4f9b-b10d-bdd1e55e256e",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Alle Feed-Eintraege einsammeln und auf die neuesten 15 begrenzen\nconst entries = $input.all().slice(0, 15);\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('de-DE', { timeZone: 'Europe/Berlin' });\n\nconst rows = entries.map(function (item) {\n  const j = item.json;\n  const title = j.title || 'Ohne Titel';\n  const link = j.link || '#';\n  let snippet = (j.contentSnippet || j.content || '').toString().trim();\n  if (snippet.length > 220) snippet = snippet.slice(0, 220) + '\\u2026';\n\n  let dateLabel = '';\n  const raw = j.isoDate || j.pubDate;\n  if (raw) {\n    const p = new Date(raw);\n    if (!isNaN(p.getTime())) {\n      dateLabel = p.toLocaleString('de-DE', { timeZone: 'Europe/Berlin', dateStyle: 'short', timeStyle: 'short' }) + ' Uhr';\n    }\n  }\n\n  let li = '<li style=\"margin-bottom:16px;\">';\n  li += '<a href=\"' + link + '\" style=\"font-weight:600;color:#0a58ca;text-decoration:none;\">' + title + '</a>';\n  if (dateLabel) li += '<div style=\"color:#777;font-size:12px;margin-top:2px;\">' + dateLabel + '</div>';\n  if (snippet) li += '<div style=\"color:#333;font-size:14px;margin-top:4px;\">' + snippet + '</div>';\n  li += '</li>';\n  return li;\n}).join('');\n\nconst html =\n  '<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:640px;margin:0 auto;color:#111;\">' +\n  '<h2 style=\"margin-bottom:4px;\">Tagesschau \\u2013 Top-Themen</h2>' +\n  '<p style=\"color:#777;font-size:13px;margin-top:0;\">' + dateStr + ' \\u00b7 ' + entries.length + ' Meldungen</p>' +\n  '<ul style=\"list-style:none;padding:0;\">' + rows + '</ul>' +\n  '<hr style=\"border:none;border-top:1px solid #eee;margin-top:24px;\">' +\n  '<p style=\"color:#999;font-size:12px;\">Automatisch erstellt mit n8n \\u00b7 Quelle: tagesschau.de</p>' +\n  '</div>';\n\nconst subject = 'Tagesschau Top-Themen \\u2013 ' + dateStr;\n\nreturn [{ json: { html: html, subject: subject, count: entries.length } }];"
      },
      "id": "3351d340-8cda-4dc3-931a-abd2abe4c473",
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "Tagesschau Digest <deine@mail.de>",
        "toEmail": "deine@mail.de",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "4355a83f-0d26-4bd6-81f3-5d9025d2c3ec",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        720,
        0
      ],
      "webhookId": "2640c823-3817-4101-a754-d90d15aa16b3",
      "credentials": {
        "smtp": {
          "id": "4D0jETwiWxfwVQE6",
          "name": "ms_mail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "27a2b9d8-a154-4baa-a5d6-c2c45f53684c",
  "nodeGroups": [],
  "id": "0e3GBKYTcsHmY1aa",
  "tags": []
}
