Tag 04/Tag 4 · Hands-on – E-Mail-Klassifizierung (Basis).json
{
  "name": "Tag 4 · Hands-on: E-Mail-Klassifizierung (Basis)",
  "nodes": [
    {
      "parameters": {},
      "id": "n-0014",
      "name": "Auf Knopfdruck starten",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "email_text",
              "value": "Ihre Rechnung Nr. 4021 ist seit 14 Tagen überfällig. Bitte begleichen Sie den Betrag bis Ende der Woche.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "n-0015",
      "name": "Beispiel-E-Mail setzen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Klassifiziere die folgende E-Mail in genau eine Kategorie: Rechnung, Support, Newsletter oder Sonstiges. Antworte nur mit dem Kategoriename, ohne weiteren Text.\nE-Mail: {{ $json.email_text }}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "options": {}
      },
      "id": "n-0016",
      "name": "E-Mail klassifizieren",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        480,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1yk2ThxfSTU2Tunm",
          "name": "KIMA OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## E-Mail-Klassifizierung (Basis)\nDas KI-Modell ordnet die Beispiel-Mail einer Kategorie zu. Antwort steht im Output unter `message.content`.\n\n**Teste einen zweiten Text:** \"Wie setze ich mein Passwort zurück?\" → sollte *Support* ergeben.",
        "height": 210,
        "width": 400,
        "color": 4
      },
      "id": "sticky-0017",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        40
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Auf Knopfdruck starten": {
      "main": [
        [
          {
            "node": "Beispiel-E-Mail setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beispiel-E-Mail setzen": {
      "main": [
        [
          {
            "node": "E-Mail klassifizieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
