Tag 02/Tag 2 · Extra – If Node Demo.json
{
  "name": "Tag 2 · Extra: If Node Demo",
  "nodes": [
    {
      "parameters": {
        "content": "## If Node Demo\n\n**Was macht dieser Workflow?**\nZeigt wie die IF Node funktioniert - prüft ob eine Zahl größer als 10 ist.\n\n**So testest du ihn:**\n1. Klicke Execute Workflow\n2. Die Zahl 15 wird geprüft\n3. Je nach Ergebnis wird ein anderer Pfad genommen",
        "height": 300,
        "width": 500,
        "color": 4
      },
      "id": "114b72b1-8641-4b45-b86f-8dd3771f20e6",
      "name": "Anleitung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -496
      ]
    },
    {
      "parameters": {},
      "id": "745fa8b9-532b-4630-b8ab-6c7eac3f1458",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "zahl",
              "value": 15,
              "type": "number"
            },
            {
              "id": "2",
              "name": "name",
              "value": "Test User",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dd5b9c19-3823-461a-90bf-5ca5b0406503",
      "name": "Zahl setzen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.zahl }}",
              "rightValue": "10",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "684ab307-96a2-41c1-8444-4cb68d7230f4",
      "name": "Prüfung",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "ergebnis",
              "value": "={{ \"Die Zahl \" + $json.zahl + \" ist größer als 10!\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24d3ccd0-1fd8-497f-875a-fabd2ff201b5",
      "name": "Große Zahl",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "ergebnis",
              "value": "={{ \"Die Zahl \" + $json.zahl + \" ist kleiner oder gleich 10!\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3957405b-e81b-4408-a870-ab52e99b1ff6",
      "name": "Kleine Zahl",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Zahl setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zahl setzen": {
      "main": [
        [
          {
            "node": "Prüfung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e0ea43f4-ada2-4e75-ba1e-7443a9560751",
  "nodeGroups": [],
  "id": "25s4DRQODTCeC2Et",
  "tags": []
}
